<div class="container mx-auto p-4">
  <mat-card class="max-w-2xl mx-auto">
    <mat-card-header>
      <mat-card-title
        >{{ isEditing ? "Editar" : "Nueva" }} Entidad</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form
        #entidadForm="ngForm"
        (ngSubmit)="onSubmit()"
        class="grid grid-cols-1 md:grid-cols-2 gap-4"
      >
        <mat-form-field appearance="outline" class="col-span-1">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select
            [(ngModel)]="selectedTipoDocumento"
            name="idTipoDocumento"
            required
          >
            <mat-option
              *ngFor="let tipo of tiposDocumento"
              [value]="tipo.idTipoDocumento"
            >
              {{ tipo.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-1">
          <mat-label>Nro. Documento</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.nroDocumento"
            name="nroDocumento"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label>Razón Social</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.razonSocial"
            name="razonSocial"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label>Nombre Comercial</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.nombreComercial"
            name="nombreComercial"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label>Tipo de Contribuyente</mat-label>
          <mat-select
            [(ngModel)]="selectedTipoContribuyente"
            name="idTipoContribuyente"
          >
            <mat-option
              *ngFor="let tipo of tiposContribuyente"
              [value]="tipo.idTipoContribuyente"
            >
              {{ tipo.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label>Dirección</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.direccion"
            name="direccion"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-1">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.telefono"
            name="telefono"
          />
        </mat-form-field>

        <div class="col-span-2 flex justify-end space-x-2 mt-4">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!entidadForm.valid"
          >
            {{ isEditing ? "Actualizar" : "Guardar" }}
          </button>
          <button mat-raised-button type="button" [routerLink]="['/entidades']">
            Cancelar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
