<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="font-weight: 500"
        >{{ isEditing ? "Editar" : "Nueva" }} Entidad</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form #entidadForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select
            [(ngModel)]="entidad.tipoDocumento.idTipoDocumento"
            name="idTipoDocumento"
            required
          >
            <mat-option
              *ngFor="let tipo of tiposDocumento"
              [value]="tipo.idTipoDocumento"
            >
              {{ tipo.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nro. Documento</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.nroDocumento"
            name="nroDocumento"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Razón Social</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.razonSocial"
            name="razonSocial"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre Comercial</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.nombreComercial"
            name="nombreComercial"
          />
        </mat-form-field>

        <mat-form-field
          *ngIf="entidad.tipoContribuyente"
          appearance="outline"
          class="full-width"
        >
          <mat-label>Tipo de Contribuyente</mat-label>
          <mat-select
            [(ngModel)]="entidad.tipoContribuyente.idTipoContribuyente"
            name="idTipoContribuyente"
          >
            <mat-option
              *ngFor="let tipo of tiposContribuyente"
              [value]="tipo.idTipoContribuyente"
            >
              {{ tipo.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Dirección</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.direccion"
            name="direccion"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="entidad.telefono"
            name="telefono"
          />
        </mat-form-field>

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!entidadForm.valid"
          >
            {{ isEditing ? "Actualizar" : "Guardar" }}
          </button>
          <button mat-raised-button type="button" [routerLink]="['/entidades']">
            Cancelar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
