mat-card.tipo-documento-card {
  /* Clase específica */
  max-width: 500px;
  margin: 32px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

mat-card.tipo-documento-card mat-card-title {
  padding: 16px 16px 0 16px;
  font-size: 1.25rem;
}

mat-card.tipo-documento-card mat-card-content {
  padding: 16px;
}

mat-card.tipo-documento-card mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-card.tipo-documento-card .mat-mdc-text-field-wrapper {
  background-color: #fafafa;
}

mat-card.tipo-documento-card mat-slide-toggle {
  margin-bottom: 16px;
}

mat-card.tipo-documento-card button[mat-raised-button] {
  margin-right: 8px;
}
