.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-title {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer; /* Hacer que el título sea clickeable */
}

.spacer {
  flex: 1 1 auto;
}

.auth-button,
.logout-button {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
  margin-top: 64px; /* Ajuste por la altura del toolbar */
  height: calc(100vh - 64px); /* Restar la altura del toolbar */
  position: relative; /* Asegurar que los elementos internos se posicionen correctamente */
}

.app-sidenav {
  width: 250px;
}

/* Estilos para pantallas pequeñas (max-width: 768px) */
@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .auth-button .button-text,
  .logout-button .button-text {
    display: none; /* Ocultar texto en pantallas pequeñas */
  }

  .app-title {
    font-size: 1rem;
  }

  .sidenav-container {
    margin-top: 56px;
  }
}

/* Estilos para pantallas medianas y grandes (min-width: 769px) */
@media (min-width: 769px) {
  .auth-button .button-text,
  .logout-button .button-text {
    display: inline; /* Mostrar texto en pantallas más grandes */
  }
}
